spring:
  application:
    name: awsome
  messages:
    basename: i18n/messages
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql,classpath:test.sql
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  # security:
  #   user:
  #     name: username
  #     password: passw0rd

server:
  port: 8088

logging:
  level:
    "org.startlight.awsome": DEBUG

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: "*" # 현재 개발상 모든 엔드포인트를 노출하고 있으나, 릴리즈시 보안상 문제로 제한하여야한다.
